[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
google-generativeai = "*"
python-dotenv = "==1.0.1"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
